.leasing-form__form-icon_percent::after {
  content: "%";
}

@media (min-width: 768px) {
  .leasing-form__form-icon_percent::after {
    font-size: 20px;
    line-height: 24px;
    padding: 22px 24px;
  }
}